# Everything from ci
-r requirements-ci.txt

# Requirements, in addition to coderedcms, needed for development.
libsass
twine
wheel
asgiref
astroid
asttokens
attrs
autoflake
autopep8
babel
backcall
black
click
colorama
coverage[toml]
decorator
dill
django
django-stubs
django-stubs-ext
djlint
doc8
docformatter
docopt
docutils
dump-env
executing
flake8
flake8-commas
flake8-django
flake8-logging-format
flake8-plugin-utils
flake8-pytest-style
html-tag-names
html-void-elements
importlib-metadata
iniconfig
ipython
isort
jedi
lazy-object-proxy
matplotlib-inline
mccabe
mypy
mypy-extensions
nodeenv
packaging
parso
pathspec
pbr
pexpect
pickleshare
platformdirs
pluggy
ply
polib
polint
prompt-toolkit
ptyprocess
pure-eval
py
pycodestyle
pydantic
pyflakes
pyformat
pygments
pylint
pylint-django
pylint-plugin-utils
pyparsing
pyright
pytest
pytest-cov
pytest-django
pytest-pyright
pytz
pyyaml
regex
restructuredtext-lint
setuptools
six
sqlparse
stack-data
stevedore
toml
tomli
tomlkit
tqdm
traitlets
types-flake8-builtins
types-flake8-docstrings
types-flake8-plugin-utils
types-flake8-typing-imports
types-invoke
types-mock
types-mypy-extensions
types-pillow
types-pytest-lazy-fixture
types-python-dateutil
types-pytz
types-pyyaml
types-redis
types-requests
types-six
types-urllib3
typing-extensions
unify
untokenize
wcwidth
wrapt
zipp
